@use '../abstracts/' as *;

.country-details {
  display: grid;
  gap: rem(64);

  max-width: $max-width;

  margin: auto;
  padding: rem(40) rem(26);

  @include breakpoint(large) {
    gap: rem(80);

    max-width: min(calc($max-width - 2 * rem(80)), calc(100% - 2 * rem(16)));

    padding: rem(80) 0;
  }

  &__container {
    display: grid;
    gap: rem(44);

    @include breakpoint(large) {
      gap: rem(144);
      grid-template-columns: 1fr 1fr;
      align-items: center;

      min-height: rem(400);
    }
  }

  &__img {
    border-radius: rem(6);

    @include breakpoint(large) {
      align-self: stretch;

      object-fit: cover;
    }
  }

  &__text {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;

    @include breakpoint(large) {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 1fr 1fr;

      height: 100%;
      max-height: rem(500);
    }

    & .h2 {
      margin-bottom: rem(16);

      @include breakpoint(large) {
        grid-column: span 2;
        align-self: center;

        margin-bottom: rem(0);
      }
    }
  }

  &__list {
    display: grid;
    gap: rem(10);
    align-content: center;

    min-height: rem(160);

    @include breakpoint(large) {
      gap: rem(13);
      align-content: flex-start;

      height: 100%;

      &:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
      }

      &:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
      }
    }
  }

  &__borders {
    display: grid;
    gap: rem(16);

    @include breakpoint(large) {
      grid-column: span 2;
      align-self: center;
    }
  }

  &__border-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);
  }
}
