@use '../abstracts/' as *;

.btn {
  display: flex;
  gap: rem(8);
  align-items: center;
  background-color: transparent;
  width: max-content;
  border: none;
  cursor: pointer;
  & img {
    padding-bottom: rem(2);
  }
}
