@use '../abstracts/' as *;

.btn {
  display: flex;
  gap: rem(8);
  align-items: center;

  width: max-content;

  cursor: pointer;
  border: none;
  background-color: transparent;

  & img {
    padding-bottom: rem(2);
  }
}
