@use '../abstracts/' as *;

.link {
  width: fit-content;

  padding: rem(6) rem(24);

  cursor: pointer;

  background-color: var(--clr-neutral-300);

  border-radius: rem(2);
  box-shadow: 0px 0px 7px 0px hsla(0, 0%, 0%, 0.29);

  transition: 0.1s;

  @include hover {
    translate: 0 -2px;
  }

  &--back {
    display: inline-flex;
    gap: rem(8);

    background-color: var(--clr-neutral-200);

    box-shadow: none;

    @include hover {
      translate: unset;
    }
  }

  &--inline {
    padding: 0 rem(5);

    background-color: transparent;

    box-shadow: none;
  }
}
