@use '../abstracts/' as *;

.link {
  cursor: pointer;
  width: fit-content;
  background-color: var(--clr-neutral-300);
  box-shadow: 0px 0px 7px 0px hsla(0, 0%, 0%, 0.29);
  padding: rem(6) rem(24);
  border-radius: rem(2);
  transition: 0.1s;

  @include hover {
    translate: 0 -2px;
  }

  &--back {
    display: inline-flex;
    gap: rem(8);
    box-shadow: none;
    background-color: var(--clr-neutral-200);
    @include hover {
      translate: unset;
    }
  }
}
