/**
 * Basic typography style for copy text
 */
@use '../abstracts/' as *;

.App {
  color: var(--clr-neutral-800);
  font-family: $text-font-stack;
  font-size: var(--fs-400);
}

.h1 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bolder);
}

.h2 {
  font-size: var(--fs-700);
  &--lg {
    font-size: var(--fs-900);
  }
}

.h3 {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
}

input {
  color: var(--clr-neutral-800);

  &::placeholder {
    font-size: var(--fs-200);
    color: var(--clr-neutral-500);
  }
}

.btn {
  color: inherit;
  font-size: var(--fs-300);
}

.select {
  font-size: var(--fs-200);

  &__button {
    color: inherit;
  }
}

.bold {
  font-weight: var(--fw-bold);
}

.link {
  font-size: var(--fs-500);
  &--sm {
    font-size: var(--fs-200);
  }
  &--inline {
    font-size: var(--fs-400);
    text-decoration: underline;
    @include hover {
      color: var(--clr-neutral-500);
    }
  }
}

.country-details {
  font-size: var(--fs-500);
}
