@use './mixins' as *;
@use './functions' as *;

$scale: (
  sm: (
    200: rem(12),
    300: rem(12),
    400: rem(14),
    500: rem(14),
    600: rem(14),
    700: rem(18),
    800: rem(16),
    900: rem(22),
  ),
  lg: (
    200: rem(14),
    300: rem(16),
    400: rem(14),
    500: rem(16),
    600: rem(24),
    700: rem(18),
    800: rem(16),
    900: rem(32),
  ),
);

$weights: (
  light: 300,
  normal: 400,
  bold: 600,
  bolder: 800,
);

:root {
  @each $screen-size, $font-size in $scale {
    @if $screen-size == 'sm' {
      @each $size, $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    } @else {
      @include breakpoint(large) {
        @each $size, $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }

  @each $name, $value in $weights {
    --fw-#{$name}: #{$value};
  }
}
